* {
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(233, 158, 170);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    margin-bottom: 20px;
}

.quizapp {
    background: rgb(250, 236, 214);
    color: #074016;
    padding:10px;
    margin: 10px;
    width: 800px;
    max-width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 6px 2px;
}

#answers {
    margin-bottom: 20px;
}

#nextBtn {
    background: rgb(233, 158, 170);
    color: #074016;
    width: 200px;
    border-radius: 10px;
    padding:10px;
}


#nextBtn:hover {
    background: rgb(247, 210, 216);
}