* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(233, 158, 170);
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizapp, .trueFalse, h1, h2 {
    background: rgb(250, 236, 214);
    color: #074016;
    max-width: 800px;
    border-radius: 10px;
    padding:15px;
    margin: 10px;
    /*text-align: center;*/

}