* {
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(233, 158, 170);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    margin-bottom: 20px;
}

.quizapp {
    background: rgb(250, 236, 214);
    color: #074016;
    padding:10px;
    margin: 10px;
    width: 800px;
    border-radius: 10px;
}

#nextBtn {
    background: rgb(233, 158, 170);
    color: #074016;
    width: 200px;
    border-radius: 10px;
    padding:10px;
    margin-top: 10px;
}